.hero-text-box-facility {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 61vh;
}

.hero-text-box-facility h1 {
    font-size: 4rem;
    color: white;
}

.container {
    padding-top: 5%;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/blueFacility.png");

    /* Set a specific height */
    width: 100%;
    height: 70vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */

.facility-content {
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.facility-content h2 {
    color: #223d6b;
}

.facility-content p {
    padding-left: 1%;
}

.facility-item {
    display: flex;
}

.facility-img img {
    width: 480px;
}

.facility-h {
    text-align: center;
}

.row {
    padding-top: 50px;
}

@media only screen and (max-width: 990px) {
    .row1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .row2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .row3 {
        display: flex;
        flex-direction: column-reverse;
    }

    .row {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 930px) {
    .container {
        max-width: 500px;
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
    .liegen-tb h1 {
        font-size: 8vw !important;
    }
}

@media only screen and (max-width: 600px) {
    .hero-text-box-facility h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 520px) {
    .hero-text-box-facility {
        padding-top: 53vh;
    }

    .liegen-tb {
        padding-top: 63vh;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        max-width: 400px;
        margin: auto;
    }

    .facility-img img {
        width: 100%;
    }
}
