.hero-text-box-facility {
    transform: translateY(-24vh);
    background-color: rgba(1, 1, 1, 0.603);
    margin: auto;
    text-align: center;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.603);
}

.hero-text-box-facility h1 {
    font-size: 4rem;
    color: white;
}
.facility-hero img {
    width: 100%;
    height: auto;
    top: -150px;
    position: relative;
    z-index: -1;
}

.facility-content {
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-200px);
    padding: 5%;
}

.facility-content h2 {
    color: #223d6b;
}

.facility-content p {
    padding-left: 1%;
}

.facility-item {
    display: flex;
}

.facility-img img {
    width: 480px;
}

.facility-h {
    text-align: center;
}

.row {
    padding-top: 50px;
}
