.carousel-text {
}
.carousel-text-box {
    padding: 100px;
    position: absolute;
    color: white;
    top: 25%;
    left: 30%;
    font-size: 3vw;
    font-weight: bold;
}

.index-cards {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.card img{
    display: none;
}

.card {
    cursor: pointer;
    background-color: white;
    min-width: 30%;
    transform: translateY(-50px);
    min-height: 500px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    transition: all 300ms ease-in;
    transition: transform 330ms;
    color: #2f5596;
}

.card h1 {
    text-align: center;
    padding-top: 50%;
    transition: transform 330ms;
}

.card ul {
    word-break: break-all;
    font-size: 1rem;
    position: relative;
    left: 15%;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    -webkit-transition: opacity 1000ms;
    transition: opacity 1000ms;
}

.card:hover ul {
    transform: translateY(-80px);
    visibility: visible;
    opacity: 1;
}

.card:hover li {
    transition: transform 330ms;
    color: white;
}

.card:hover {
    background-color: #2f5596;
    color: white;
    transform: translateY(-110px);
}

.card:hover h1 {
    transform: translateY(-100px);
    transition: transform 330ms;
}
