.jobsContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
    min-height: 600px;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
}

.innerJobContainer {
    min-width: 60%;
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
}

.publicJobDescription {
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}

#publicJobText {
    background-color: white;
    padding: 2%;
}

.jobDescription {
    min-width: 100%;
    max-width: 100px;
    background-color: #98afc7;
    color: white;
}

.jobTitle {
    text-align: center;
}
