.hero-image-facility-references {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/blueReference.png");

    /* Set a specific height */
    width: 100%;
    height: 70vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-facility-references {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/blueReference.png");

    /* Set a specific height */
    width: 100%;
    height: 70vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-belags-references {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/hajmars2.png");

    /* Set a specific height */
    width: 100%;
    height: 70vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img_overlay {
    position: relative;
    overflow: hidden;
}

.content-categories-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-bottom: 5%;
}
.categtories-h1 {
    font-size: 2rem;
    text-align: center;
}
.row {
    padding-top: 10px;
}
#categories-col {
    padding-top: 30px;
    padding-right: 0;
    max-width: 500px;
    margin-bottom: 0px;
}

.img_overlay:before {
    content: "";
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    background: transparent\9;
    background: #223d6b;
    opacity: 0.6;
    z-index: 2;
    transition: all 300ms;
}

.img_overlay:hover:before {
    cursor: pointer;
    opacity: 0;
}

.img_overlay:hover .categories-text {
    display: none;
}

.categories-text {
    position: absolute;
    color: white;
    font-size: 1rem;
    z-index: 3;
    top: 28%;
    padding: 3%;
    font-weight: bold;
}

.img_overlay_brand {
    position: relative;
    overflow: hidden;
}

.img_overlay_brand-brown {
    position: relative;
    overflow: hidden;
}

.img_overlay_brand:before {
    content: "";
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    background: transparent\9;
    background: red;
    opacity: 0.6;
    z-index: 2;
    transition: all 300ms;
}

.img_overlay_brand-brown {
    content: "";
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    background: transparent\9;
    background: red;
    opacity: 0.6;
    z-index: 2;
    transition: all 300ms;
}

.img_overlay_brand:hover:before {
    cursor: pointer;
    opacity: 0;
}

.img_overlay_brand:hover .categories-text {
    display: none;
}

@media only screen and (max-width: 767px) {
    .container-fluid {
        max-width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .container-fluid {
        max-width: 300px;
        padding-left: 0px;
    }
}
