.text-block {
    position: relative;
    width: 100%;
    bottom: 10%;
    background-color: #0a4c66b7;
    color: white;
    text-align: center;
    transition: all 300ms;
}

.functions {
    display: flex;
    margin-top: 0;
    transform: translateY(-40px);
}

.functionButton {
    width: 50%;
    text-align: center;
    color: white;
}

#edit {
    background-color: #0a4c66b7;
}

#edit:hover {
    background-color: #98afc7;
    cursor: pointer;
}

#delete {
    background-color: #0a4c66b7;
}

#delete:hover {
    background-color: #98afc7;
    cursor: pointer;
}

.referenceForm {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

#referenceNameInput,
#referenceImage,
#submitButton,
#erorrDiv,
#referenceCategory {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 1%;
}

#referenceHeader {
    text-align: center;
    margin-bottom: 2%;
}

#inputLabel {
    text-align: center;
}

.errorMessage {
    list-style-type: none;
    color: white;
}

img_overlay {
    background: black;
    overflow: hidden;
    background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(
            rgba(29, 38, 113, 0.8),
            rgba(195, 55, 100, 0.8)
        ),
        url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)),
        url("https://bit.ly/2rlzaXi"); /* The least supported option. */
}
